<div id='indexpage'>
<img class='indeximgs' src='/img/yunokhee.jpg' />
<div id='indextext'>
<h1 id='welcome'>Welcome to ShotTracker</h1>
<p id="indexpagetext">
This app is to assist you in scoring for target shooting. Minimal brain power is required, point and click!  I made this for use with Olympic Recurve bows, but it can be used for other vastly inferior sports as well.</p>
<h3>You are not logged in, so there is not much to see here.</h3><h3>You probably want to sign in or sign up:</h3>
</div>
<div id='signin_container'>
<p><a href="/users/new"><h2 id='signuptxt'>Sign Up</h2></a></p>
<p><a href="/users/login"><h2 id='signintxt'>Sign In</h2></a></p>
<p><a href="/users">View all users</a></p>
<p><a href="/sessions">To your sessions page (if logged in)</a></p>
</div>
<img class='indeximgs' src='/img/archers.jpg' />

</div>